.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-bottom: 30px;
  grid-auto-flow: dense;

  .post-link {
    color: initial;
    text-decoration: none;
  }

  .post {
    border: 1px solid #383333;
    display: flex;
    padding: 10px;
    border-radius: 6px;

    .image {
      height: 100px;
      width: 100px;

      img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .info {
      margin-left: 10px;

      .title {
        margin-bottom: 8px;
      }

      .author {
        font-size: 13px;
        margin-bottom: 15px;
      }

      .details {
        font-size: 12px;
      }
    }
  }
}

.search-container {
  display: flex;
  justify-content: flex-end;

  .text-box {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 35px;
    background-color: #e5e5e5;
    width: 300px;
    margin-bottom: 20px;

    .icon {
      font-size: 18px;
    }

    .search {
      background: transparent;
      border: none !important;
      outline: none !important;
      height: 100%;
      width: 100%;
      padding-left: 10px;
      font-size: 14px;
    }

    .close {
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
